<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
    <title>BigPike Admin Control Panel</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand">
            <img th:src="@{/images/BigPikeLogoSmall.png}" />
        </nav>
    </div>
    <div>
        <h1>BigPike Admin Control Panel</h1>
    </div>
    <div>
        <p>BigPike Control Panel - Copyright &copy; BigPike</p>
    </div>
</div>
</body>
</html>